@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root {
   /* Spacing */
   --spacing-100: .8rem;
   --spacing-200: 1.6rem;
   --spacing-300: 2.4rem;
   --spacing-400: 3.2rem;
   --spacing-600: 4.8rem;
   /* Colors */
   --color-white: #ffffff;
   --color-black: #000000;
   --color-gray-600: #717FA6;
   --color-purple-500: #766CF1;
   --color-blue-950: #1F2E55;
   --color-blue-700: #382AE1;
   --color-blue-150: #D6E1FF;
   --color-blue-100: #E0E8FF;
   --color-blue-50:  #F7F9FF;
}
* {
   font-family: "Red Hat Display", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}
/* TYPOGRAGHY */
.text-preset1 {
   font-size: 2.8rem;
   line-height: 135%;
   font-weight: 900;
}
.text-preset2 {
   font-size: 2.2rem;
   line-height: 135%;
   font-weight: 900;
}
.text-preset3 {
   font-size: 1.6rem;
   line-height: 165%;
}
.text-preset4 {
   font-size: 1.5rem;
   line-height: 165%;
}
.black {
   font-weight: 900;
}
.bold {
   font-weight: 700;
}
.medium {
   font-weight: 500;
}
/* LAYOUTS */
.flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-col {
   flex-direction: column;
}
/* Hero Section */
.hero {
   width: 100%;
   height: 100dvh;
   position: relative;
   overflow: hidden;
   background-color: var(--color-blue-100);
}
.bg-pattern-hero {
   width: 100%;
   height: 43.7rem;
   position: absolute;
   top: 0;
}
/* Card Component */
.card {
   overflow: hidden;
   width: 45rem;
   border-radius: 2rem;
   background-color: var(--color-white);
   gap: var(--spacing-600);
   padding-bottom: 4rem;
   z-index: 1;
}
.content {
   width: 35.4rem;
   text-align: center;
   gap: var(--spacing-400);
}
.summary {
   gap: var(--spacing-200);
   width: 100%;
   
}
h1 {
   color: var(--color-blue-950);
   margin-bottom: var(--spacing-200);
}
.text p {
   color: var(--color-gray-600);
}
.order-info {
   background-color: var(--color-blue-50);
   border-radius: 1.1rem;
   padding: var(--spacing-300);
   width: 100%;
   justify-content: space-between;
}
.order-content {
   gap: var(--spacing-200);
}
.order-icon {
   width: var(--spacing-600);
   height: var(--spacing-600);
}
.order-text h2 {
   color: var(--color-blue-950);
}
.order-text p {
   color: var(--color-gray-600);
}
.order-btn {
   color: var(--color-blue-700);
   text-decoration: none;
}
.order-btn:hover {
   color: var(--color-purple-500);
}
.actions {
   width: 100%;
   gap: var(--spacing-400);
}
.submit-btn {
   align-self: stretch;
   background-color: var(--color-blue-700);
   color: var(--color-white);
   padding: var(--spacing-100) 0;
   border: none;
   border-radius: 1.1rem;
   cursor: pointer;
}
.submit-btn:hover {
   background-color: var(--color-purple-500);
}
.cancel-btn {
   text-decoration: none;
   color: var(--color-gray-600);
}
.cancel-btn:hover {
   color: var(--color-blue-950);
}